<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="utf-8" />
    <title th:replace="${title}">文章</title>
    <link rel="stylesheet"  type="text/css" href="../static/css/me.css"  th:href="@{/css/me.css}"/>
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"  th:href="@{/css/animate.min.css}"/>
    <script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="../static/js/semantic.min.js"  th:src="@{/js/semantic.min.js}"></script>
    <link rel="stylesheet" href="../static/lib/layui/layui.css" th:href="@{/lib/layui/layui.css}"/>
    <script src="../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}"/>
</head>
<body>

<nav  th:fragment="menus(n)"  class="ui inverted attached segment m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="m-item item m-mobil-hide" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobil-hide" th:classappend="${n==2} ? 'active'"><i class="clone icon"></i>标签</a>
            <a href="#" class="m-item item m-mobil-hide" th:classappend="${n==3} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobil-hide" th:classappend="${n==4} ? 'active'"><i class="edit icon"></i>点点滴滴</a>
            <div class="menu right m-item m-mobil-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../static/img/3.jpg" th:src="@{/img/3.jpg}" alt="" class="ui avatar image m-img-mini">
                        赵勇志
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/loginOut}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobil-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 底部开始 -->
<footer th:fragment="footer" class="ui inverted attached segment m-padded-tb">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/img/wechrt.png" th:src="@{/img/wechrt.png}" class="ui rounded image m-img-large" alt=""/>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-option-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">关于故事</a>
                    <a href="#" class="item">关于学习的清单</a>
                    <a href="#" class="item">她</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-option-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：zhaoyongzhi@qq.com</a>
                    <a href="#" class="item">QQ：951815578</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-option-mini">Recommendation</h4>
                <p class="m-text-thin m-text-spaced m-option-mini">这是我的个人博客，会分享编程、学习方法的一些<br/>内容，希望可以和来到这的人一起探讨.......</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-option-tiny"  >Copyright©2020-2021 Alon Design By ZYZ</p>
    </div>
</footer>
<!-- 底部结束 -->
</body>
</html>