<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="admin/_fragments::head(~{::title})">
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" th:href="/favicon.ico">
		<title>上传图片</title>
	</head>
	<body>
		<!-- 导航开始 -->
		<!-- ！important让自己写的样式优先级更高 -->
		<nav th:replace="admin/_fragments::menus(0)"  class="ui inverted attached segment m-shadow-small">
		</nav>
		<!-- 导航结束 -->
		<!-- 中间内容开始 -->
		<br>
		<br>
		<br>
		<div class="m-container m-padded-tb-large">
			<div class="ui container">
				<form th:action="@{/admin/upload}" method="post" class="ui form" enctype="multipart/form-data">
					<input type="file" name="file">
					<br>
					<br>
					<br>
					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
						<button class="ui teal button" type="submit">上传</button>
					</div>
				</form>
				<!--[[${filename}]]-->
			</div>
		</div>
		<br><br><br><br><br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<!-- 中间内容结束 -->
		<!-- 底部开始 -->
		<footer th:replace="admin/_fragments::footer" class="ui inverted attached segment m-padded-tb">
		</footer>
		<!-- 底部结束 -->
		<script>
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobil-hide');
			});
			$('.ui.dropdown').dropdown({
				on:'hover'
			});
		</script>
		<!--<script>
			$('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
		</script>-->
	</body>
</html>
