<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
	<head th:replace="admin/_fragments::head(~{::title})">
		<link rel="icon" type="image/x-icon" th:href="/favicon.ico">
		<meta charset="utf-8" />
		<title>类型发布</title>
	</head>
	<body>
		<!-- 导航开始 -->
		<!-- ！important让自己写的样式优先级更高 -->
		<nav  th:replace="admin/_fragments::menus(n)"  class="ui inverted attached segment m-shadow-small">
		</nav>
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="" th:href="@{/admin/type}" class="item teal">列表</a>
					<a href="" th:href="@{/admin/type/typesinput}" class="active item teal">新增</a>
				</div>
			</div>
		</div>
		<!-- 导航结束 -->
		<!-- 中间内容开始 -->
		<br><br><br>
		<div class="m-container m-padded-tb-large ">
			<div class="ui container">
				<form action="#" method="post" th:object="${type}"  th:action="*{typeid}==null ? @{/admin/type/typeSave} : @{/admin/type/{id}(id=*{typeid})}"  class="ui form"><!--th:object="${type}"-->
					<input type="hidden" name="id" th:value="*{typeid}">
					<div class="field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">名称</label>
							<input type="text" name="typename" placeholder="分类名称" th:value="*{typename}"/>
						</input>
						</div>
					</div>

					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
						<button class="ui teal button" type="submit" >提交</button>
					</div>
				</form>
			</div>
		</div>
		<br><br><br><br>
		<!-- 中间内容结束 -->
		<!-- 底部开始 -->
		<footer th:replace="admin/_fragments::footer" class="ui inverted attached segment m-padded-tb">
		</footer>
		<!-- 底部结束 -->
		<script>
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobil-hide');
			});
			$('.ui.dropdown').dropdown({
				on:'hover'
			});
			/* 初始化makedown編輯器 */
			var contentEditor;
			    $(function() {
			        contentEditor = editormd("md-content", {
			            width   : "100%",
			            height  : 640,
						emoji   :true,
			            syncScrolling : "single",
			            path	: "/lib/editormd/lib/"
			        });
			    });
		</script>
	</body>
</html>
